*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
  background: url('dens.jpg') no-repeat center center fixed; 
  background-size: cover;
  height: 100vh;
}

.container {
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.615);
  height: 100%;
  width: 100%;
  padding: 2%;
}

.virsus {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding:0;
  background-color: rgb(137, 137, 197);
  font-size: 18px;
  margin-top: 0;
  color: rgb(49, 47, 59);
  text-decoration: underline;
  justify-content:start;
  gap: 15px;
} 

.paslaugos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.pav {
  font-size: 40px;
  font-family: 'Lucida-Grande';
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(25, 22, 36);

}
.pasl {
font-size: 35px;
color: salmon;
display: flex;
justify-content: center;
}
.butons {
font-size: 23px ;
color: rgb(10, 95, 38);
margin-top: 20px;
display: flex;
gap: 40px
}
.b1 {
  background-color: rgb(231, 128, 195);
  color: rgb(96, 49, 113);
  padding: 10px 20px;
  border: 5px solid palevioletred;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

.pabaiga {
display: flex;
position: absolute;
bottom: 5px;
justify-content: flex-end;
height: 20px;
color: black;
}